.body{
   position: fixed;
   text-align: right;
   align-items: center;
   display: block;
}
.tweetIcons{
   display: none;
   pointer-events: none;
   font-size: 25px;
}
.icons{
   pointer-events: none;
   font-size: 25px;
}
.label{
   padding: 10px;
   pointer-events: none;
   display: inline-block;
   font-size: 18px;
}

.button{
   pointer-events: auto;
   display: block;
   text-align: left;
   align-items: flex-start;
   background: transparent;
   width: max-content;
   color: var(--c-text-color);
   border-radius: 99px;
   font-size: 18px;
   border:none;
   margin-bottom: 5px;
   transition: var(--fade);

}
.button:hover{
   opacity: 50%;
   background: var(--c-slug);
}

.button:focus{
   opacity: 80%;
   color:var(--c-text-color) ;
   background: white;
   box-shadow: none;
}
.active{
   font-weight: bold;
}
.tweetButton{
   align-items: center;
   display: block;
   text-align: center;
   font-size: 20px;
   border-radius:99px;
   padding:10px 60px 10px 60px;
   margin-top: 20px;

   background: var(--c-theme);
   border: none;
}
.tweetButtonLabel{

}
.myDiv{
   position: fixed;
   bottom: 0;
   align-items: center;
   text-align: right;

}
@media screen and (max-width: 1280px) {
   .button{
      margin: 0;
   }
   .label{
      display: none;
   }
   .tweetButton{
      padding: 13px 15px;
      border-radius: 150px;
   }
   .tweetButtonLabel{
   display: none;
   }
   .tweetIcons{
      display: inline;
   }
}
@media screen and (max-width: 767px) {
   .tweetDiv{
      bottom: 100px;
    display: inline-block;
   }
   .tweetButton{
      position: fixed;
      bottom:70px;
      right: 20px;
      float: right;
   }
   .body{
      align-items: center;
      text-align: center;
      display: block;
   }
   .button{
      box-shadow: none;
      float: left;
      display: inline-block;
   }
   .button:focus{
      opacity: 100%;
      background: transparent;
      box-shadow: none;
   }
   .button:active{
      box-shadow: none;
   }
   .icons{
      font-size: 8vw;
   }
   .buttonsDiv{
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
   }


}
