.pagePath{
    padding-top: 10px;
    font-size: 20px;
}
.formDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.img{
    display: inline-block;
   ;
    width: 3em;
    height: 3em;
    border-radius: 99px;
}
.Input{
    padding: 10px;
    display: inline-block;
    width: 90%;
    height: max-content;
    text-overflow: ellipsis;
    resize: none;
    border:none;
    border-bottom: #6E767d 1px solid;
}
.Input:focus{
    border:none;
    outline: none;
    border-bottom: #6E767d 1px solid;
}